:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  background-color: #ffffff; /* Very light (faded) purple */
}


.item {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f3e8ff; /* Very light (faded) purple */
  margin-bottom: 0.5rem;
  min-width: 500px;
}

.content {
  display: flex;
  flex-direction: row;
  gap:  2rem;
}

strong {
  display: inline-block;
  width: 70px;
  font-weight: bold;
}
